<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~     This file is part of BotUtils.
  ~
  ~     BotUtils is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Lesser General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     BotUtils is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Lesser General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Lesser General Public License
  ~     along with BotUtils.  If not, see <http://www.gnu.org/licenses/>.
  -->
  
<!-- Configures slf4j for testing. -->

<configuration scan="true">
    <!-- Avoid logger spam from web socket -->
    <logger name="org.eclipse.jetty" level="ERROR"/>
    <!-- Configure Discord4J logger level -->
    <logger name="sx.blah.discord.Discord4J" level="ERROR"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
